<table>
    <tr>
        <th>Number</th>
        <th>Type</th>
        <th>Price</th>
        <th>Amenities</th>
        <th>CheckIn Time</th>
        <th>Select</th>
    </tr>
    <tr *ngFor="let room of rooms">
        <td >{{room.roomType}}</td>
        <td>{{room.price}}</td>
        <td>{{room.amenities}}</td>
        <td>{{room.checkinTime}}</td>
        <td>{{room.checkoutTime}}</td>
        <td>
            <button (click)="selectRoom(room)">
                Select Room 
            </button>
        </td>
    </tr>
</table>
